html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 2%, 17%);
}

.faq_container {
    width: 400px;
    max-height: 650px;
    background: white;
    margin: 150px auto;
    padding: 1rem 2rem 100px;
    border-radius: 30px;
    position: relative;
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: center 0%;
}

.faq_title {
    text-align: center;
    font-size: 2.5rem;
}

.faq_questions {
    color: hsl(237, 12%, 33%);
    line-height: 2;
}

.faq_question {
    display: flex;
}

.faq_question_title {
    width: 400px;
}

.faq_question>img {
    align-self: center;
}

.question {
    cursor: pointer;
    border-bottom: 1px solid hsla(240, 4%, 91%, 0.712);
}

.question .faq_answers {
    display: none;
}

.open {
    display: block;
}

.open .faq_question {
    border: none;
}

.open .faq_question_title {
    font-weight: 700;
}

.open .faq_answers {
    display: block;
    padding-bottom: 20px;
    color: hsl(240, 6%, 50%);
}

.open img {
    transform: rotate(180deg);
}

#woman {
    background-image: url(images/illustration-woman-online-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    margin-top: -127px;
    margin-left: -47px;
}


/* @media (min-width: 600px){
    #mobile_woman {
        display: none;
    }

    #bottom_mobile {
      display: none;
    }

    #desktop_woman {
        display: block;
    }

    #bottom_desktop {
        display: block;
    }

    #box {
        display: block;
    }
    
    .faq_container {
        width: 80%;
        background: white;
        margin: 100px auto 100px;
        padding: 30px;
        border-radius: 30px;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }

    .faq_questions {
        color: hsl(237, 12%, 33%);
        line-height: 2.5;
        width: 50%;
        margin-bottom: 50px;
        justify-self: flex-end;
    }

    .faq_title {
        text-align: left;
        font-size: 2.5rem;
    }

} */