html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}

.faq_container {
    width: 400px;
    max-height: 650px;
    background: white;
    margin: 100px auto;
    padding: 1rem 2rem 100px;
    border-radius: 30px;
    position: relative;
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: center 0%;
}

.faq_title {
    text-align: center;
    font-size: 2.5rem;
    color: hsl(0, 2%, 17%);
}

.faq_questions {
    color: hsl(237, 12%, 33%);
    line-height: 2;
    margin-top: -110px;
}

.faq_question {
    display: flex;
}

.faq_question_title {
    width: 400px;
}

.faq_question_title:hover {
    color: hsl(14, 88%, 65%);
}

.faq_question>img {
    align-self: center;
}

.question {
    cursor: pointer;
    border-bottom: 1px solid hsla(240, 4%, 91%, 0.712);
}

.question .faq_answers {
    display: none;
}

.open {
    display: block;
}

.open .faq_question {
    border: none;
}

.open .faq_question_title {
    color: hsl(0, 2%, 17%);
    font-weight: bold;
}

.open .faq_answers {
    display: block;
    line-height: 1;
    padding-bottom: 20px;
    color: hsl(240, 6%, 50%);
}

.open img {
    transform: rotate(180deg);
}

#woman {
    background-image: url(images/illustration-woman-online-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
    width: 400px;
    height: 400px;
    margin-top: -235px;
    margin-left: -33px;
}

.faq_questions {
    color: hsl(237, 12%, 33%);
    line-height: 2;
    margin-top: -110px;
}

#box {
    background-image: url(images/illustration-box-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110px;
    width: 400px;
    height: 400px;
    margin-top: -360px;
    margin-left: -115px;
    animation: movingbox 15s linear infinite alternate;
}

@keyframes movingbox {
    0%{
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-7px);
    }
    50% {
        transform: translateX(7px);
    }
    75% {
        transform: translateY(-7px);
    }
    100% {
        transform: translateY(-7px);
    }
}

@media (min-width: 800px){
    .faq_container {
        width: 900px;
        max-height: 550px;
        margin: 50px auto;
        background-image: url(images/bg-pattern-desktop.svg);
        background-position: -550px -300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        justify-content: center;
    }

    .faq_questions {
        margin-top: 0px;
    }

    .faq_title {
        text-align: justify;
    }

    .question_container {
        width: 350px;
    }

    #woman {
        background-position: 110% center;
        background-size: auto;
        width: 400px;
        height: 400px;
        margin-top: 30px;
        margin-left: -32px;
    }

    #box {
        background-size: auto;
        margin-top: -350px;
        margin-left: -230px;
    }
}